@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-image: url("../type.png");
    background-size: cover;
    width: 100%;
}

.container {
    width: 30%;
    margin: 9% auto;
    background-color: rgba(153, 153, 153, 0.75);
}

h1 {
    padding-top: 1%;
}

.errors {
    width: 300px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: rgb(194, 99, 99);
    color: rgb(250, 245, 245);
}

input {
    margin: 1%;
    font-family: 'Montserrat', sans-serif;
}

textarea {
    margin: 1%;
}

.sendBtn {
    background-color: rgb(76, 175, 142);
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2%;
}