* {
    margin: 0;
    padding: 0;
}

html {
    justify-content: center;
    text-align: center;
}

.container {
    width: 50%;
    margin: 10% auto;
    background-color:grey;
}

.errors {
    width: 350px;
    margin: 0 auto;
    background-color: white;
}